// Naming conventions:
// .component-name
// .component-name--modifier
//   .component-name__sub-object
//   .component-name__sub-object--modifier
// Similar to BEM.

@import globals
@import base
@import layout
@import common


// Site header  ////////////////////////

.logo
  padding: 20px 0


// Splash section  /////////////////////

.splash
  @extend %text--light-on-dark
  background-image: url(/img/blank.png)
  background-position: center bottom
  background-repeat: no-repeat
  background-size: cover
  height: 360px
  padding-top: 35px
  position: relative

.splash__header
  @extend %text--header--medium
  @extend .l-centered
  max-width: 200px
  text-align: center

.splash__img
  +position(absolute, 0 0 0px -50px)

.splash__arrow
  +position(absolute, 150px 50% 0 80px)
  background: $orange
  height: 1px
  &:before
    +size(9px)
    background: $orange
    border-radius: 4px
    content: ""
    display: block
    position: relative
    top: -4px

.splash__description
  +position(absolute, 140px 0 0 50%)
  font-size: 20px
  font-style: italic
  line-height: 1
  margin-left: 20px
  width: 100px

@media only screen and (min-width: 768px)
  .splash__img
    left: 50%
    margin-left: -100px
  .splash__arrow
    left: 50%
    margin-left: 30px
    right: 50%
    margin-right: -140px
  .splash__description
    left: 50%
    margin-left: 160px


// Callouts  ///////////////////////////

.overview
  padding: 50px 30px

.whisper
  @extend %text--body
  font-size: 18px
  font-style: italic
  text-align: center

.whisper--bottom
  margin-top: 60px

.callout
  @extend %text--header--medium
  margin-top: 40px
  text-align: center
  &:first-child
    margin-top: 0

.callout--small
  @extend %text--header--small

.callout em
  @extend %text--header--large
  color: $orange
  display: block
  font-style: normal
  line-height: 1
  margin-top: 5px
  &.callout__huge
    color: $black
    font-size: 40px
    margin-bottom: 10px
  &.callout__huge--orange
    font-size: 40px

.callout s
  @extend %text--header--large
  margin-top: 5px
  display: inline-block
  position: relative
  text-decoration: none
  &:after
    // TODO: Apply this to Chrome only; it has the opposite effect on Mobile
    // Safari.
    // +backface-visibility(hidden)  // improves rendering on Chrome
    +position(absolute, 45% -7px 0 -7px)
    background-color: $orange
    content: ""
    height: 3px
    opacity: .8
  &:nth-of-type(1):after
    +transform(rotate(-1.8deg))
  &:nth-of-type(2):after
    +transform(rotate(2.5deg))
  &:nth-of-type(3):after
    +transform(rotate(-.7deg))

.callout--with-rule
  +with-rule(40px)

.callout--big
  @extend %text--header--large
  font-size: $large-font


// Pull quote  /////////////////////////

.quote
  padding: 20px 25px 40px
.quote__text
  @extend %text--light-on-dark
  font-size: 30px
  line-height: 1.2
  -moz-hyphens: manual
  hyphens: manual
.quote__author-name
  margin-top: 40px
  text-transform: uppercase
.quote__author-title
  @extend %text--header--small--light
  border-top: 1px solid rgba($white, .5)
  margin-top: 8px
  padding-top: 8px


// Palo Alto  //////////////////////////

.palo-alto
  // background: XXX
  height: 180px
  position: relative

.palo-alto__ribbon
  $width: 160px
  $pointer-height: 40px
  @extend %text--header--small
  @extend .l-centered
  background: $orange
  color: $white
  height: 20px
  margin-bottom: $pointer-height + 15px
  overflow: visible
  padding-top: 12px
  position: relative
  text-align: center
  width: $width

  &:after
    +position(absolute, 100% 0 0 0px)
    +size(0)
    border: ($width / 2) solid transparent
    border-top: $pointer-height solid $orange
    content: ""
    pointer-events: none
    z-index: -1

.palo-alto__text
  +position(absolute, 0 0 0 50%)
  font-size: 14px
  font-style: italic
  margin-left: 20px
  max-width: 120px


// Highlights  /////////////////////////

.highlight
  +width(1 of 1)
  @extend .grid__item
  text-align: center
  @media #{$media-ipad}
    +width(1 of 2)
  @media #{$media-desk}
    +width(1 of 4)

.highlight__header
  @extend %text--header--medium
  margin: 25px 0 15px

.highlight__text
  font-size: 17px
  margin: 0


// Meet the team  //////////////////////

.team-header
  @extend %text--header--medium
  margin-top: 45px
  text-align: center
  & em
    color: $orange
    display: block
    font-style: normal

.team-container
  @extend .grid
  position: relative

.team__arrow
  +size(23px 44px)
  position: absolute
  top: 40px
  z-index: 1
  opacity: 1
  +transition(opacity ease-in 100ms)
  .team-left-leave ~ &, .team-right-leave ~ &
    +transition-duration(0)
    opacity: 0

.team__arrow--left
  +retina-image(/img/icon/arrow-left, 23px 44px)
  left: 20px

.team__arrow--right
  +retina-image(/img/icon/arrow-right, 23px 44px)
  right: 20px

$team-top-padding: 20px
$team-bottom-padding: 45px

.team
  @extend .grid__item
  +width(1 of 3)
  padding: $team-top-padding 0 $team-bottom-padding
  text-align: center

@media only screen and (max-width: 768px)
  .team-container
    height: 236px + $team-top-padding + $team-bottom-padding

  // Fill the container and enable transitions.
  .team
    +position(absolute, 0px 0px 0px 0px)
    +transform(translate3d(0, 0, 0))  // performance on Mobile Safari
    +width(auto)

.team__img
  +size(80px)
  border: 1px solid $black
  border-radius: 40px
  box-shadow: 0 0 2px $black

.team__name, .team__title
  font-size: 18px

.team__name
  margin-top: 20px
  text-transform: uppercase

.team__title
  font-style: italic

.team__details
  margin-top: 20px

// Slide transitions.
$team-slide-distance: 300px
$team-slide-duration: 300ms
$team-slide-easing: $ease-in-out-quad

.team-left-enter
  +animation(team-left-enter $team-slide-duration $team-slide-easing)
.team-left-leave
  +animation(team-left-leave $team-slide-duration $team-slide-easing)
.team-right-enter
  +animation(team-right-enter $team-slide-duration $team-slide-easing)
.team-right-leave
  +animation(team-right-leave $team-slide-duration $team-slide-easing)

+keyframes(team-left-enter)
  from
    +transform(translateX($team-slide-distance))
  to
    +transform(translateX(0))
+keyframes(team-left-leave)
  from
    +transform(translateX(0))
    opacity: 1
  50%
    opacity: .2
  to
    +transform(translateX(-$team-slide-distance))
    opacity: 0
+keyframes(team-right-enter)
  from
    +transform(translateX(-$team-slide-distance))
  to
    +transform(translateX(0))
+keyframes(team-right-leave)
  from
    +transform(translateX(0))
    opacity: 1
  50%
    opacity: .2
  to
    +transform(translateX($team-slide-distance))
    opacity: 0


// Join us  ////////////////////////////

.join-us
  @extend .l-centered
  @extend .l-pad
  +clearfix
  max-width: 400px
  text-align: center

.join-us__header
  @extend %text--header--medium
  margin: 0

.join-us__blurb
  font-size: 18px
  font-style: italic
  margin-top: 15px
  &:before
    margin-bottom: 15px

.join-us
  #{$all-text-inputs}, textarea
    border: none
    border-radius: 1px
    margin-bottom: 5px
    padding: 8px 16px
    width: 100%
  textarea
    height: 115px

.join-us__error
  text-align: right

.join-us__nospam
  @extend %text--header--small--light
  float: left
  margin-top: 13px
  margin-left: 15px
  text-align: left

.join-us .button
  float: left
  clear: left

.join-us textarea
  resize: none
