// Naming conventions:
// .component-name
// .component-name--modifier
//   .component-name__sub-object
//   .component-name__sub-object--modifier
// Similar to BEM.

@import globals
@import base
@import layout
@import common


// Site header  ////////////////////////

.logo
  padding: 20px 0


// Splash section  /////////////////////

.splash
  @extend %text--light-on-dark
  +radial-gradient(circle at 20% 80%, #dee0df, #8c9896, $fallback: #a0aaa9)
  height: 300px
  padding-top: 35px
  position: relative
  @media #{$media-ipad}
    height: 600px

.splash__header
  @extend %text--header--medium
  @extend .l-centered
  max-width: 200px
  text-align: center

$splash-image-width: 520px
$splash-image-height: 420px

.splash__img
  +position(absolute, 0 0 0px -50px)
  +size(($splash-image-width / 2) ($splash-image-height / 2))
  @media #{$media-ipad}
    +size($splash-image-width $splash-image-height)

.splash__arrow
  +position(absolute, 130px 50% 0 75px)
  background: $orange
  height: 1px
  &:before
    +size(9px)
    background: $orange
    border-radius: 4px
    content: ""
    display: block
    position: relative
    top: -4px

.splash__description
  +position(absolute, 120px 0 0 50%)
  font-size: 20px
  font-style: italic
  line-height: 1
  margin-left: 20px
  width: 100px

@media #{$media-ipad}
  .splash__img
    left: 50%
    margin-left: -($splash-image-width / 2)
  .splash__arrow
    top: 260px
    left: 50%
    right: 50%
    margin-right: -140px
  .splash__description
    top: 250px
    left: 50%
    margin-left: 160px


// Callouts  ///////////////////////////

.overview
  padding: 50px 30px

.whisper
  @extend %text--body
  font-size: 18px
  font-style: italic
  text-align: center

.whisper--bottom
  margin-top: 60px

.callout
  @extend %text--header--medium
  margin-top: 40px
  text-align: center
  &:first-child
    margin-top: 0

.callout--small
  @extend %text--header--small

.callout em
  @extend %text--header--large
  color: $orange
  display: block
  font-style: normal
  line-height: 1
  margin-top: 5px
  &.callout__huge
    color: $black
    font-size: 40px
    margin-bottom: 10px
  &.callout__huge--orange
    font-size: 40px

.callout s
  @extend %text--header--large
  margin-top: 5px
  display: inline-block
  position: relative
  text-decoration: none
  &:after
    // TODO: Apply this to Chrome only; it has the opposite effect on Mobile
    // Safari.
    // +backface-visibility(hidden)  // improves rendering on Chrome
    +position(absolute, 45% -7px 0 -7px)
    background-color: $orange
    content: ""
    height: 3px
    opacity: .8
  &:nth-of-type(1):after
    +transform(rotate(-1.8deg))
  &:nth-of-type(2):after
    +transform(rotate(2.5deg))
  &:nth-of-type(3):after
    +transform(rotate(-.7deg))

.callout--with-rule
  +with-rule(40px)

.callout--big
  @extend %text--header--large
  font-size: $large-font

// Graphical callouts, which usually appear next to text callouts.
.callout-img
  @extend %ie-background-size
  background-repeat: no-repeat
  background-position: center center
  background-size: contain
  margin-top: 40px

.callout-img--america
  height: 155px
  background-image: url(/img/map-america-filled.png)  // XXX retina
  @media #{$media-ipad}
    height: 310px

.callout-img--woman, .callout-img--bang
  height: 129px
  @media #{$media-ipad}
    height: 258px

.callout-img--woman
  background-image: url(/img/icon-lady.png)  // XXX retina

.callout-img--bang
  background-image: url(/img/icon-minorities.png)  // XXX retina

.callout-img--california
  +position(absolute, 0px 0 0 50%)
  +size(140px 239px)
  background-image: url(/img/map-california.png)  // XXX retina
  margin-left: -110px
  margin-top: -20px


// Pull quote  /////////////////////////

.quote
  padding: 20px 25px 40px
.quote__text
  @extend %text--light-on-dark
  font-size: 30px
  line-height: 1.2
  -moz-hyphens: manual
  hyphens: manual
.quote__author-name
  margin-top: 40px
  text-transform: uppercase
.quote__author-title
  @extend %text--header--small--light
  border-top: 1px solid rgba($white, .5)
  margin-top: 8px
  padding-top: 8px


// Palo Alto  //////////////////////////

.palo-alto
  height: 180px
  overflow: hidden
  position: relative

.palo-alto__ribbon
  $width: 160px
  $pointer-height: 40px
  @extend %text--header--small
  @extend .l-centered
  background: $orange
  color: $white
  height: 20px
  margin-bottom: $pointer-height + 15px
  overflow: visible
  padding-top: 12px
  position: relative
  text-align: center
  width: $width
  z-index: 1

  &:after
    +position(absolute, 100% 0 0 0px)
    +size(0)
    border: ($width / 2) solid transparent
    border-top: $pointer-height solid $orange
    content: ""
    pointer-events: none
    z-index: -1

.palo-alto__text
  +position(absolute, 0 0 0 50%)
  font-size: 14px
  font-style: italic
  margin-left: 20px
  max-width: 120px


// Highlights  /////////////////////////

.highlight
  +width(1 of 1)
  @extend .grid__item
  text-align: center
  @media #{$media-desk}
    +width(1 of 4)
    text-align: left

.highlight__header
  @extend %text--header--medium
  margin: 25px 0 15px

.highlight__text
  font-size: 17px
  margin: 0 auto
  max-width: 320px


// Meet the team  //////////////////////

.team-header
  @extend %text--header--medium
  margin-top: 45px
  text-align: center
  & em
    color: $orange
    display: block
    font-style: normal

$team-top-padding: 20px
$team-bottom-padding: 45px

.team-container
  @extend .grid
  height: 236px + $team-top-padding + $team-bottom-padding
  position: relative
  @media #{$media-ipad}
    height: auto

.team
  @extend .grid__item
  +position(absolute, 0px 0px 0px 0px)
  +transform(translate3d(0, 0, 0))  // performance on Mobile Safari
  padding-top: $team-top-padding
  padding-bottom: $team-bottom-padding
  text-align: center
  @media #{$media-ipad}
    +width(1 of 2)
    position: static
  @media #{$media-desk}
    +width(1 of 3)

.team__img
  +size(80px)

.team__name, .team__title
  font-size: 18px

.team__name
  margin-top: 20px
  text-transform: uppercase

.team__title
  font-style: italic

.team__details
  margin: 20px auto 0
  max-width: 320px
  @media #{$media-desk}
    text-align: left

.team__arrow
  +size(23px 44px)
  +transition(opacity ease-in 100ms)
  opacity: 1
  position: absolute
  top: 40px
  -webkit-tap-highlight-color: transparent
  z-index: 1
  .team-left-leave ~ &, .team-right-leave ~ &
    +transition-duration(0)
    opacity: 0
  @media #{$media-ipad}
    display: none

.team__arrow--left
  +retina-image('../img/icon/arrow-left', 23px 44px)
  left: $grid-gutter  // account for .grid negative margin

.team__arrow--right
  +retina-image('../img/icon/arrow-right', 23px 44px)
  right: 0

// Slide transitions.
$team-slide-distance: 300px
$team-slide-duration: 300ms
$team-slide-easing: $ease-in-out-quad

.team-left-enter
  +animation(team-left-enter $team-slide-duration $team-slide-easing)
.team-left-leave
  +animation(team-left-leave $team-slide-duration $team-slide-easing)
.team-right-enter
  +animation(team-right-enter $team-slide-duration $team-slide-easing)
.team-right-leave
  +animation(team-right-leave $team-slide-duration $team-slide-easing)

+keyframes(team-left-enter)
  from
    +transform(translateX($team-slide-distance))
  to
    +transform(translateX(0))
+keyframes(team-left-leave)
  from
    +transform(translateX(0))
    opacity: 1
  50%
    opacity: .2
  to
    +transform(translateX(-$team-slide-distance))
    opacity: 0
+keyframes(team-right-enter)
  from
    +transform(translateX(-$team-slide-distance))
  to
    +transform(translateX(0))
+keyframes(team-right-leave)
  from
    +transform(translateX(0))
    opacity: 1
  50%
    opacity: .2
  to
    +transform(translateX($team-slide-distance))
    opacity: 0


// Join us  ////////////////////////////

.join-us
  @extend .l-centered
  @extend .l-pad
  +clearfix
  max-width: 400px
  text-align: center

.join-us__header
  @extend %text--header--medium
  margin: 0

.join-us__blurb
  font-size: 18px
  font-style: italic
  margin-top: 15px
  &:before
    margin-bottom: 15px

.join-us
  #{$all-text-inputs}, textarea
    border: none
    border-radius: 1px
    margin-bottom: 5px
    padding: 8px 16px
    width: 100%
  textarea
    height: 115px

.join-us__error
  text-align: right

.join-us__nospam
  @extend %text--header--small--light
  float: left
  margin-top: 13px
  margin-left: 15px
  text-align: left

.join-us .button
  float: left
  clear: left

.join-us textarea
  resize: none


// Animation following successful submission.
.join-us--done
  +animation(join-us--done 300ms ease-in-out 150ms)
  +box-shadow(inset 0 3px 4px -2px rgba($black, .4), inset 0 -3px 4px -2px rgba($black, .4))
+keyframes(join-us--done)
  from
    height: 550px
  to
    height: 0
.join-us__poof-hide
  +animation(join-us__poof-hide 300ms ease-in-out)
  +transform(translateZ(0))
+keyframes(join-us__poof-hide)
  from
    +transform(translateZ(0) scale(1))
    opacity: 1
  to
    +transform(translateZ(0) scale(.5))
    opacity: 0


// Slideshow  //////////////////////////

// HACK
.slide
  .callout:first-child
    margin-top: 40px
.slide.full-bg
  .callout
    margin-top: 0

@media #{$media-ipad}
  // HACK
  #slideshow .l-pad--big
    padding-bottom: 0

  // Vertical centering.
  .slide
    line-height: 600px
    text-align: center
    > div
      display: inline-block
      line-height: normal
  .slide--white
    background: $white
    border-bottom: 1px solid $grey-rule

@media #{$media-desk}
  .slideshow
    overflow: hidden
    position: relative
    .slide
      +position(absolute, 0px 0px 0 0px)
      height: 100%
      margin: 0
      padding: 0
      // Vertical centering.
      > div
        position: relative
        top: 50%
