<!doctype html>
<html lang="en" ng-app="neu">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NEU &middot; New Engineering University</title>

  <meta name="viewport" content="initial-scale=1">
  <meta name="og:title" content="New Engineering University">
  <meta name="og:type" content="website">
  <!-- TODO meta name="og:image" content="XXX" -->
  <meta name="og:url" content="http://neu.me/">
  <meta name="og:site_name" content="NEU">

  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic" rel="stylesheet">
  <!-- build:css css/neu.min.css -->
  <link href="bower_components/normalize-css/normalize.css" rel="stylesheet">
  <link href="build/css/main.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body>

  <div class="full-bg full-bg--orange">
    <h1 class="l-main logo">
      <img src="/img/NEU-Logo.png" width="160" height="135" at2x class="l-centered" alt="NEU">
    </h1>
  </div>

  <div class="full-bg splash" ng-controller="SplashCtrl">
    <div class="splash__header">A new breed of <div bind-shuffle="sel.name">university</div></div>
    <img class="splash__img" ng-src="{{sel.img}}" src="/img/lorempixel/cats5.jpg" alt>
    <div class="splash__arrow"></div>
    <div class="splash__description" ng-bind-html-unsafe="sel.text">Hands-on, project based, collaborative, &amp; fun.</div>

    <a class="scroller scroller--splash" href="#overview" smooth-scroll></a>
  </div>

  <h2 class="full-bg full-bg--black header-band">New Engineering University</h2>

  <div class="l-main" id="overview">
    <ul class="overview">
      <li class="overview__item">
        With
        <div class="overview__callout">millions</div>
        of unfilled engineering jobs
      </li>
      <li class="overview__item">
        &amp; less than
        <div class="overview__callout">10%</div>
        women &amp; minorities<br>in the field
      </li>
      <li class="overview__item">
        <div class="overview__callout">
          NEU<br>is bridging<br>the gap.
        </div>
      </li>
    </ul>

    <div class="invitation">
      (Invitation placeholder.)
      <a class="scroller scroller--invitation" href="#join-us" smooth-scroll></a>
    </div>
  </div>

  <h2 class="full-bg full-bg--black header-band">First program launches Fall 2014</h2>

  <div class="location">
    (Location placeholder.)
  </div>

  <div class="full-bg full-bg--grey">
    <div class="l-main highlights">
      <h3 class="highlights__header">Fully Accredited</h3>
      <p class="highlights__text">Our highly-adaptive and competitive degrees
      prime graduates to command desired positions.</p>

      <h3 class="highlights__header">Rigorous &amp;&nbsp;Collaborative</h3>
      <p class="highlights__text">Students work together on real-world
      projects instructed and mentored by leading professionals working in
      the&nbsp;field.</p>

      <h3 class="highlights__header">Culturally Rich</h3>
      <p class="highlights__text">Unlike any other engineering program in the
      nation, NEU's faculty and student body are diverse in gender, ethnicity,
      and creative spirit.</p>

      <h3 class="highlights__header">Unrivaled DNA</h3>
      <p class="highlights__text">NEU is built on the simple belief that an
      engineering education should be accessible, experiential, and
      unbearably&nbsp;fun.</p>
    </div>
  </div>

  <h2 class="team-header">Meet<br>the Team</h2>

  <div class="full-bg full-bg--black">
    <div class="team-container l-main"
      ng-controller="TeamCtrl"
      ng-swipe-left="next()"
      ng-swipe-right="prev()">
      <div class="team l-block" ng-if="showMultiple || index == 0" ng-animate="animate()">
        <div class="team__subhead">Leadership</div>
        <img class="team__img" src="/img/lorempixel/cats1.jpg" alt>
        <div class="team__name">Scott Kauffman</div>
        <div class="team__title">President &amp; CEO</div>

        <button class="button button--team-details">Bio</button>
      </div>

      <div class="team l-block" ng-if="showMultiple || index == 1" ng-animate="animate()">
        <div class="team__subhead">Partnerships</div>
        <img class="team__img" src="/img/lorempixel/cats2.jpg" alt>
        <div class="team__name">Facebook</div>
        <div class="team__title">Internships &amp; Workshops</div>

        <button class="button button--team-details">Details</button>
      </div>

      <div class="team l-block" ng-if="showMultiple || index == 2" ng-animate="animate()">
        <div class="team__subhead">Leadership</div>
        <img class="team__img" src="/img/lorempixel/cats3.jpg" alt>
        <div class="team__name">Scott Kauffman</div>
        <div class="team__title">President &amp; CEO</div>

        <button class="button button--team-details">Bio</button>
      </div>

      <div class="team l-block" ng-if="showMultiple || index == 3" ng-animate="animate()">
        <div class="team__subhead">Partnerships</div>
        <img class="team__img" src="/img/lorempixel/cats4.jpg" alt>
        <div class="team__name">Facebook</div>
        <div class="team__title">Internships &amp; Workshops</div>

        <button class="button button--team-details">Details</button>
      </div>
    </div>
  </div>

  <div>(NEU social placeholder.)</div>

  <div class="full-bg full-bg--orange">
    <div class="l-main" id="join-us" ng-controller="JoinCtrl">
      <form class="join-us" name="form" ng-submit="submit()" ng-hide="state.submitted" novalidate>
        <h2 class="join-us__header">Join us</h2>
        <p class="join-us__blurb">Calling all fans, partners<br>&amp; potential faculty!</p>

        <div class="join-us__error" ng-show="state.invalid && !form.name.$valid">
          But what will we call you?
        </div>
        <input name="name" type="text" ng-model="data.name" placeholder="Name" required>

        <div class="join-us__error" ng-show="state.invalid && form.email.$error.required">
          Come on, let's stay in touch!
        </div>
        <div class="join-us__error" ng-show="state.invalid && form.email.$error.email">
          Your email doesn't look quite right.
        </div>
        <input name="email" type="email" spellcheck="false" ng-model="data.email" placeholder="Email" required>

        <input type="text" pattern="[0-9]*" ng-model="data.zip" placeholder="ZIP code">
        <textarea ng-model="data.note" placeholder="Optional love note."></textarea>

        <div class="join-us__error" ng-show="state.submissionFailed" style="float: right">
          I dannae if she can take any more, Cap'n!
        </div>
        <button type="submit" ng-model="_" ng-disabled="state.submitting" class="button button--join">Ship it</button>
      </form>
    </div>
  </div>
</div>

  <!-- build:js js/vendor.min.js -->
  <script src="bower_components/AngularJS/angular.js"></script>
  <script src="bower_components/AngularJS/angular-mobile.js"></script>
  <script src="js/gsap/TweenLite.min.js"></script>
  <script src="js/gsap/ScrollToPlugin.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/neu.min.js -->
  <script src="build/js/app.js"></script>
  <script src="build/js/controllers.js"></script>
  <script src="build/js/directives.js"></script>
  <script src="build/js/services.js"></script>
  <!-- endbuild -->
</body>
</html>
