<!doctype html>
<html lang="en" ng-app="neu">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NEU &middot; New Engineering University</title>
  <!-- Made by Cabin <http://madebycabin.com/>. xo! -->

  <link rel="shortcut icon" href="/favicon.ico?t=1373589728">
  <meta name="viewport" content="initial-scale=1">
  <meta name="og:title" content="New Engineering University">
  <meta name="og:type" content="website">
  <meta name="og:image" content="/img/mark-1500.png">
  <meta name="og:description" content="A new breed of university for a new breed of engineers.">
  <meta name="og:url" content="http://neu.me/">
  <meta name="og:site_name" content="NEU">

  <!--[if lte IE 8]>
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400italic" rel="stylesheet" type="text/css">
  <style>@font-face { font-family: ProximaNova; src: url("/css/fonts/proxima-nova-semibold.eot"); }</style>
  <![endif]-->
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic" rel="stylesheet" type="text/css">
  <!-- build:css css/neu.min.css -->
  <link href="bower_components/normalize-css/normalize.css" rel="stylesheet">
  <link href="build/css/main.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body>
<div class="js-scroll-wrapper"><div class="js-content-wrapper">
  <h2 class="l-main header-band header-band--serif"><span>New Engineering University</span></h2>

  <div class="full-bg splash">
    <h1 class="l-main logo">NEU</h1>
  </div>

  <div class="slideshow-pre" neu-slideshow>
    <div class="slideshow__mask">
      <div class="title">
        <div class="title__header">A new breed of university</div>
        <div class="title__description">for a new breed of engineers.</div>
        <a class="scroller scroller--title" href="#slideshow" neu-smooth-scroll></a>
      </div>
    </div>

    <div class="slideshow__slide slideshow__slide--white" id="slideshow">
      <div>
        <div class="whisper">When you see the word</div>
        <div class="callout callout--tight callout--huge">engineering</div>
      </div>
    </div>
    <div class="slideshow__slide slideshow__slide--white slideshow__slide--with-rule">
      <div class="whisper">what comes to mind?</div>
    </div>
    <div class="slideshow__slide slideshow__slide--white slideshow__slide--with-rule">
      <div>
        <div class="callout callout--semi-tight">for geeks only?</div>
        <div class="callout callout--semi-tight">too hard?</div>
        <div class="callout callout--semi-tight"><s>creative</s>?</div>
      </div>
    </div>
    <div class="slideshow__slide slideshow__slide--white slideshow__slide--with-rule">
      <div class="whisper">This might come as a surprise, but</div>
    </div>
    <div class="full-bg full-bg--black l-pad slideshow__slide">
      <div>
        <div class="callout callout--big">Times are changin&rsquo;</div>
        <div class="whisper">and engineering is changing, too.</div>
      </div>
    </div>

    <a class="scroller scroller--slideshow" ng-cloak ng-if="slideshowEnabled" ng-click="nextSlide()"></a>
  </div>

  <div class="full-bg full-bg--grey">
    <div class="l-main l-pad l-pad--double">
      <div class="callout engineers-can">
        Engineers
        <ul>
          <li class="engineers-can__item engineers-can__item--build"><span class="wbr--big">Build</span> our <span class="wbr">bridges</span></li>
          <li class="engineers-can__item engineers-can__item--cure"><span class="wbr--big">Cure</span> our <span class="wbr">diseases</span></li>
          <li class="engineers-can__item engineers-can__item--send"><span class="wbr--big">Send</span> us to <span class="wbr">space</span></li>
        </ul>
        <span neu-post-slides>And even<br>make it possible<br>to read this.</span>
      </div>
    </div>
  </div>

  <!-- style is for scroll-hint containment -->
  <div class="l-main l-pad l-pad--double" style="position: relative;">
    <div class="drip drip--scroll-hint" id="js-scroll-hint"></div>
    <div class="callout callout--year">Today</div>
    <div class="callout-img callout-img--america"></div>
    <div class="callout">
      <em>Millions</em>
      <div class="whisper">of engineering jobs</div>
      <span class="wbr">are unfilled</span> in America alone
    </div>
  </div>

  <div class="full-bg full-bg--black l-pad l-pad--mega">
    <div class="whisper">Let&rsquo;s face it</div>
    <div class="drip"></div>
    <div class="callout">We need more <em class="callout__huge">engineers</em></div>
  </div>

  <div class="l-main l-pad l-pad--huge">
    <div class="whisper">of every</div>
    <div class="callout callout--big callout--tight">
      size, shape <span class="wbr">&amp; color</span>
    </div>
  </div>

  <div class="full-bg full-bg--grey">
    <div class="l-main l-pad l-pad--double">
      <div class="whisper">to break the mold:</div>

      <div class="grid">
        <div class="break-the-mold break-the-mold--left">
          <div class="callout callout--small">90%<br>white dudes</div>
          <div class="callout-img callout-img--white-dudes"></div>
        </div>
        <div class="break-the-mold break-the-mold--right">
          <div class="callout callout--small">10%<br>everyone else</div>
          <div class="callout-img callout-img--everyone-else"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="full-bg full-bg--orange">
    <div class="quote l-main l-pad">
      <div class="whisper">And re-engineer our future.</div>
      <div class="quote__text">
        <span class="wbr--big">We are attempting to educate</span>
        <span class="wbr--big">21st-century engineers with a</span>
        20th-century curriculum taught in 19th-century institutions.
      </div>
      <div class="quote__author-name">James Duderstadt</div>
      <div class="quote__author-title">
        President Emeritus<br>
        <em>&mdash; &amp; Really Smart Guy &mdash;</em><br>
        The University of Michigan<br>
      </div>
      <!-- http://milproj.dc.umich.edu/publications/EngFlex_report/ -->
    </div>
  </div>

  <div class="full-bg full-bg--starfield l-pad">
    <div class="callout callout--big">Introducing</div>
  </div>

  <div class="l-main l-pad l-pad--huge">
    <div class="callout callout--logo">NEU</div>

    <div class="whisper whisper--big">
      The most relevant, collaborative, &amp; industry-connected
      <span class="wbr--big">engineering university in the world.</span>
    </div>
  </div>

  <div class="full-bg full-bg--black header-band silicon-valley">
    <div class="silicon-valley__arrow">
      <div class="silicon-valley__arrow__heart">in the heart of</div>
      Silicon Valley
    </div>
  </div>

  <div class="palo-alto">
    <div class="callout-img callout-img--california"><div class="callout-img--california__pointer"></div></div>
    <div class="palo-alto__text">
      Opening ten locations in tech-centric cities across the country.
    </div>
  </div>

  <div class="full-bg full-bg--grey">
    <div class="l-main l-pad">
      <div class="beta-heading">Beta Program</div>
      <div class="beta-subheading">Launching January 2014</div>

      <ul class="beta">
        <li class="beta__item">
          <img class="beta__icon" src="/img/icon-1yr.gif" width="100" height="100" neu-at2x alt="1 year">
          <div class="beta__text">Master&rsquo;s degree</div>
        </li>
        <li class="beta__item">
          <img class="beta__icon" src="/img/icon-50.gif" width="100" height="100" neu-at2x alt="50">
          <div class="beta__text">Pioneering scholars</div>
        </li>
        <li class="beta__item">
          <img class="beta__icon" src="/img/icon-realworld.gif" width="100" height="100" neu-at2x alt>
          <div class="beta__text">Real-world projects</div>
        </li>
        <li class="beta__item">
          <img class="beta__icon" src="/img/icon-industry.gif" width="100" height="100" neu-at2x alt>
          <div class="beta__text">Industry mentors</div>
        </li>
      </ul>

      <div class="beta-outcome">
        Graduating<br><span class="wbr">career-ready</span> engineers
      </div>
    </div>
  </div>

  <div class="l-main l-pad">
    <h2 class="team-header">Meet the<br>game-changers</h2>
    <h3 class="team-subheader">Headquartered in Palo Alto, CA</h3>

    <div class="team-container"
      ng-controller="TeamCtrl"
      ng-swipe-left="next()"
      ng-swipe-right="prev()">

      <div class="team" ng-show="showMultiple || index == 0" ng-animate="animate()">
        <a class="team__link" href="http://www.linkedin.com/in/scottkauffman" target="_blank">
          <img class="team__img" src="/img/team/Scott.png" neu-at2x alt width="80" height="80">
          <br><div class="team__name">Scott Kauffman</div>
        </a>
        <div class="team__title">President &amp; CEO</div>
        <div class="team__details">
          With 7 venture-backed start-ups under his belt and years of senior
          executive and board leadership experience, Scott Kauffman boldly
          leads the charge at NEU.
        </div>
      </div>

      <div class="team" ng-show="showMultiple || index == 1" ng-animate="animate()">
        <a class="team__link" href="http://www.linkedin.com/pub/lueny-morell/1/283/668" target="_blank">
          <img class="team__img" src="/img/team/Lueny.png" neu-at2x alt width="80" height="80">
          <br><div class="team__name">Lueny Morell</div>
        </a>
        <div class="team__title">Provost &amp; Chief Academic Officer</div>
        <div class="team__details">
          As a Gordon prize-winning engineer, ABET Commissioner, and former
          President of the IFEES, Lueny Morell bridges the gap between
          education and industry at NEU.
        </div>
      </div>

      <div class="team" ng-show="showMultiple || index == 2" ng-animate="animate()">
        <a class="team__link" href="http://www.universityventuresfund.com/" target="_blank">
          <img class="team__img" src="/img/team/UniversityVentures.png" neu-at2x alt width="80" height="80">
          <br><div class="team__name">University Ventures</div>
        </a>
        <div class="team__title">Investment</div>
        <div class="team__details">
          With a growing portfolio of companies transforming the educational
          landscape, University Ventures backs NEU with valued expertise,
          capital, and support.
        </div>
      </div>

      <div class="team" ng-show="showMultiple || index == 3" ng-animate="animate()">
        <a class="team__link" href="http://madebycabin.com/" target="_blank">
          <img class="team__img" src="/img/team/Cabin.png" neu-at2x alt width="80" height="80">
          <br><div class="team__name">Cabin</div>
        </a>
        <div class="team__title">Design &amp; Technology</div>
        <div class="team__details">
          Former Etsy design and technology duo bring creativity and technical
          craft to building digital experiences for NEU&rsquo;s community to
          thrive.
        </div>
      </div>

      <div class="team" ng-show="showMultiple || index == 4" ng-animate="animate()">
        <a class="team__link" href="http://www.omfgco.com/" target="_blank">
          <img class="team__img" src="/img/team/OMFGCO.png" neu-at2x alt width="80" height="80">
          <br><div class="team__name">OMFGCO</div>
        </a>
        <div class="team__title">Design</div>
        <div class="team__details">
          The creative masterminds behind the Ace Hotel chain join NEU to
          create the most coveted maker space around. Prepare to stay a while.
        </div>
      </div>

      <div class="team" ng-show="showMultiple || index == 5" ng-animate="animate()">
        <a class="team__link" href="http://clairvoyantsoft.com/" target="_blank">
          <img class="team__img" src="/img/team/Clairvoyant.png" neu-at2x alt width="80" height="80">
          <br><div class="team__name">Clairvoyant</div>
        </a>
        <div class="team__title">Educational Technology</div>
        <div class="team__details">
          With a rich history in education software, the Clairvoyant team weave
          together systems offering support for NEU students and faculty.
        </div>
      </div>

      <a class="team__arrow team__arrow--left" ng-click="prev()"></a>
      <a class="team__arrow team__arrow--right" ng-click="next()"></a>
    </div>
  </div>

  <div class="full-bg full-bg--orange" ng-controller="JoinCtrl" ng-class="{'join-us--done': state.submitted}">
    <div class="l-main" id="join-us">
      <form class="join-us l-pad" name="form" ng-submit="submit()" ng-hide="state.submitted" ng-animate="'join-us__poof'" novalidate>
        <h2 class="join-us__header">Part of<br>the solution?</h2>

        <div class="join-us__radio">
          <label ng-class="{checked: data.type == 'fan'}"><input type="radio" name="type" ng-model="data.type" value="fan"> Fan</label>
          <label ng-class="{checked: data.type == 'faculty'}"><input type="radio" name="type" ng-model="data.type" value="faculty"> Faculty</label>
          <label ng-class="{checked: data.type == 'partner'}"><input type="radio" name="type" ng-model="data.type" value="partner"> Partner</label>
        </div>

        <input name="name" type="text" ng-model="data.name" placeholder="Name" required>
        <div class="join-us__error" ng-show="state.invalid && !form.name.$valid">
          But what shall we call you?
        </div>

        <input name="email" type="email" spellcheck="false" ng-model="data.email" placeholder="Email" required>
        <div class="join-us__error" ng-show="state.invalid && form.email.$error.required">
          Come on, let&rsquo;s stay in touch!
        </div>
        <div class="join-us__error" ng-show="state.invalid && form.email.$error.email">
          Is that really your email?
        </div>

        <input type="text" pattern="[0-9]*" ng-model="data.zip" placeholder="ZIP code">
        <!-- This comment avoids a FF box-sizing bug. -->
        <textarea ng-model="data.note" placeholder="Optional love note."></textarea>

        <div class="join-us__buttons">
          <button type="submit" ng-model="_" ng-disabled="state.submitting" class="button">Yes!</button>
          <div class="join-us__nospam">
            Psst:<br>We don't share, sell,<br>or spam. XO.
          </div>
        </div>
        <div class="join-us__error join-us__error--form" ng-show="state.submissionFailed">
          Something went wrong! :-(
        </div>
      </form>
    </div>
  </div>

  <div class="full-bg full-bg--black share" ng-controller="ShareCtrl">
    <div class="l-main">
      <div class="share__header callout">Spread<br>the logic</div>

      <div class="share__icons">
        <a href="https://www.facebook.com/sharer/sharer.php?t=New+Engineering+University&amp;u=http%3A//neu.me/" ng-click="share($event, 'facebook')" class="share-icon share-icon--facebook">Facebook</a>
        <a href="https://twitter.com/intent/tweet?url=http%3A//neu.me/&amp;text=New+Engineering+University" ng-click="share($event, 'twitter')" class="share-icon share-icon--twitter">Twitter</a>
        <a href="https://plus.google.com/share?url=http%3A//neu.me/" ng-click="share($event, 'google')" class="share-icon share-icon--gplus">Google+</a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A//neu.me/&amp;title=New+Engineering+University" ng-click="share($event, 'linkedin')" class="share-icon share-icon--linkedin">Linkedin</a>
      </div>
    </div>
  </div>

  <div class="l-main header-band header-band--serif"><span>&copy;2013 New Engineering University, Inc.</span></div>
</div></div><!-- /content-wrapper /scroll-wrapper -->

  <!-- build:js js/vendor.min.js -->
  <script src="bower_components/AngularJS/angular.js"></script>
  <script src="bower_components/AngularJS/angular-mobile.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/gsap/TweenLite.min.js"></script>
  <script src="js/gsap/TimelineLite.min.js"></script>
  <script src="js/gsap/CSSPlugin.min.js"></script>
  <script src="js/gsap/ScrollToPlugin.min.js"></script>
  <!-- endbuild -->
  <!--[if lte IE 9]>
  <script src="ie/respond.js"></script>
  <![endif]-->
  <!-- build:js js/neu.min.js -->
  <script src="build/js/app.js"></script>
  <script src="build/js/controllers.js"></script>
  <script src="build/js/directives.js"></script>
  <script src="build/js/services.js"></script>
  <!-- endbuild -->
</body>
</html>
