<!doctype html>
<html lang="en" ng-app="neu">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NEU &middot; New Engineering University</title>
  <!-- Made by Cabin <http://madebycabin.com/>. xo! -->

  <meta name="viewport" content="initial-scale=1">
  <meta name="og:title" content="New Engineering University">
  <meta name="og:type" content="website">
  <!-- TODO meta name="og:image" content="XXX" -->
  <meta name="og:url" content="http://neu.me/">
  <meta name="og:site_name" content="NEU">

  <!--[if lte IE 8]>
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400italic" rel="stylesheet" type="text/css">
  <style>@font-face { font-family: ProximaNova; src: url("/css/fonts/proxima-nova-semibold.eot"); }</style>
  <![endif]-->
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic" rel="stylesheet" type="text/css">
  <!-- build:css css/neu.min.css -->
  <link href="bower_components/normalize-css/normalize.css" rel="stylesheet">
  <link href="build/css/main.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body>
<div class="js-scroll-wrapper"><div class="js-content-wrapper">
  <h2 class="l-main header-band header-band--serif"><span>New Engineering University</span></h2>

  <div class="full-bg full-bg--orange">
    <h1 class="l-main logo">NEU</h1>
  </div>

  <div class="full-bg splash" ng-controller="SplashCtrl">
    <div class="splash__header">A new breed of <em bind-shuffle="sel.name">university</em></div>
    <img class="splash__img" ng-src="{{sel.img}}" src="/img/university-1.png" width="650" height="420" alt>
    <div class="splash__drip"></div>
    <div class="splash__description" ng-bind-html-unsafe="sel.text">Cutting-edge,<br>collaborative,<br>&amp; fun.</div>

    <a class="splash__scroller" href="#slideshow" smooth-scroll></a>
  </div>

  <h2 class="full-bg full-bg--black header-band">Launching Fall 2014</h2>

  <div class="slideshow-pre" slideshow>
    <div class="slideshow__mask"></div>
    <div id="slideshow" class="l-pad">
      <div class="slideshow__slide slideshow__slide--white">
        <div class="whisper">This might come as a surprise, but</div>
      </div>
      <div class="slideshow__slide slideshow__slide--white">
        <div class="callout callout--with-rule">We are facing a new <em>national <span class="wbr">crisis</span></em></div>
      </div>
      <div class="slideshow__slide slideshow__slide--white">
        <div class="callout callout--with-rule">
          We&rsquo;re not <span class="wbr">talking about<br></span><s>terrorism</s><br><s>hunger</s><br><s>poverty</s>
        </div>
      </div>
      <div class="slideshow__slide slideshow__slide--white">
        <div class="callout callout--with-rule">We are <span class="wbr">talking about</span><em class="callout__huge">engineering</em></div>
      </div>
    </div>

    <div class="full-bg full-bg--black l-pad slideshow__slide">
      <div class="callout callout--big">No, really.</div>
    </div>
  </div>

  <div class="full-bg full-bg--grey">
    <div class="l-main l-pad l-pad--double">
      <div class="callout engineers-can">
        Engineers
        <ul>
          <li class="engineers-can__item engineers-can__item--build"><span class="wbr--big">Build</span> our <span class="wbr">bridges</span></li>
          <li class="engineers-can__item engineers-can__item--cure"><span class="wbr--big">Cure</span> our <span class="wbr">diseases</span></li>
          <li class="engineers-can__item engineers-can__item--send"><span class="wbr--big">Send</span> us to <span class="wbr">space</span></li>
        </ul>
        And even<br>make it possible<br>to read this.
      </div>
    </div>
  </div>

  <div class="l-main l-pad l-pad--double">
    <div class="callout callout--year">Today</div>
    <div class="callout-img callout-img--america"></div>
    <div class="callout">
      <em>Millions</em> of engineering jobs<br>
      <span class="wbr">are unfilled</span> in America alone
    </div>
  </div>

  <div class="full-bg full-bg--black l-pad l-pad--mega">
    <div class="whisper">Let&rsquo;s face it</div>
    <div class="drip"></div>
    <div class="callout">We need more <em class="callout__huge">engineers</em></div>
  </div>

  <div class="l-main l-pad l-pad--double">
    <div class="whisper">
      And we&rsquo;re lookin&rsquo; at you too, ladies.
    </div>
    <div class="callout-img callout-img--pie"><div class="callout-img__women"></div></div>
    <div class="callout callout--small">
      Less than
      <em class="callout__huge">10%</em>
      of engineers are women,<br>and even less are<br>minorities
    </div>
  </div>

  <div class="full-bg full-bg--orange">
    <div class="quote l-main l-pad">
      <div class="whisper">As if that&rsquo;s not enough&hellip;</div>
      <div class="quote__text">
        <span class="wbr--big">We are attempting to educate</span>
        <span class="wbr--big">21st-century engineers with a</span>
        20th-century curriculum taught in 19th-century institutions.
      </div>
      <div class="quote__author-name">James Duderstadt</div>
      <div class="quote__author-title">
        President Emeritus<br>The University of Michigan
      </div>
      <!-- http://milproj.dc.umich.edu/publications/EngFlex_report/ -->
    </div>
  </div>

  <div class="full-bg full-bg--starfield l-pad">
    <div class="callout callout--big">Until now.</div>
  </div>

  <div class="l-main l-pad l-pad--huge">
    <div class="callout callout--small">Meet</div>
    <div class="callout callout--logo">NEU</div>
    <div class="drip"></div>

    <div class="whisper whisper--big">
      The most practical, <span class="wbr">relevant, and</span> student-focused<br>
      <span class="wbr">engineering program</span> in the world.
    </div>
  </div>

  <h2 class="full-bg full-bg--black header-band">&nbsp;</h2>

  <div class="palo-alto">
    <div class="callout-img callout-img--california"><div class="callout-img--california__pointer"></div></div>
    <div class="palo-alto__ribbon">
      <div class="palo-alto__ribbon__hq">Headquartered in</div>
      Palo Alto<br>CA
    </div>
    <div class="palo-alto__text">
      Opening ten locations in tech-centric cities across the country.
    </div>
  </div>

  <h2 class="full-bg full-bg--black header-band header-band--two-lines">
    First program<br>Fall 2014 in Silicon Valley
  </h2>

  <div class="full-bg full-bg--grey">
    <div class="l-main l-pad">
      <div class="whisper">Down to brass tacks.</div>

      <div class="grid">
        <div class="highlight">
          <h3 class="highlight__header">Collaboration</h3>
          <p class="highlight__text">NEU students learn by doing, mentored and
          instructed by industry professionals in the hottest maker space
          around.</p>
        </div>

        <div class="highlight">
          <h3 class="highlight__header">Accreditation</h3>
          <p class="highlight__text">Our ABET &amp; regionally accredited
          degrees prepare NEU graduates to command highly desired
          positions.</p>
        </div>

        <div class="highlight">
          <h3 class="highlight__header">Community</h3>
          <p class="highlight__text">Unlike any other engineering program in
          the nation, NEU&rsquo;s community is diverse in gender and creative
          spirit.</p>
        </div>

        <div class="highlight">
          <h3 class="highlight__header">Ethos</h3>
          <p class="highlight__text">NEU is built on the simple belief that an
          engineering education should be accessible, experiential, and
          unbearably fun.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="l-main l-pad">
    <h2 class="team-header">Meet the<br>game-changers</h2>

    <div class="team-container"
      ng-controller="TeamCtrl"
      ng-swipe-left="next()"
      ng-swipe-right="prev()">

      <div class="team" ng-if="showMultiple || index == 0" ng-animate="animate()">
        <img class="team__img" src="/img/team/Scott.png" at2x alt width="80" height="80">
        <div class="team__name">Scott Kauffman</div>
        <div class="team__title">President &amp; CEO</div>
        <div class="team__details">
          With years of senior executive and board leadership experience, Scott
          Kauffman leads the charge to build the largest, most relevant and
          practical engineering university.
        </div>
      </div>

      <div class="team" ng-if="showMultiple || index == 1" ng-animate="animate()">
        <img class="team__img" src="/img/team/Lueny.png" at2x alt width="80" height="80">
        <div class="team__name">Lueny Morell</div>
        <div class="team__title">Provost &amp; Chief Academic Officer</div>
        <div class="team__details">
          Gordon prize-winning engineer, renowned professor, and industry
          leader Lueny Morell brings heart and vision to developing all-new
          educational programs.
        </div>
      </div>

      <div class="team" ng-if="showMultiple || index == 2" ng-animate="animate()">
        <img class="team__img" src="/img/team/UniversityVentures.png" at2x alt width="80" height="80">
        <div class="team__name">University Ventures</div>
        <div class="team__title">Investment</div>
        <div class="team__details">
          With a growing portfolio of companies transforming the educational
          landscape, University Ventures backs NEU with valued expertise and
          support.
        </div>
      </div>

      <div class="team" ng-if="showMultiple || index == 3" ng-animate="animate()">
        <img class="team__img" src="/img/team/Cabin.png" at2x alt width="80" height="80">
        <div class="team__name">Cabin</div>
        <div class="team__title">Design &amp; Technology</div>
        <div class="team__details">
          Former Etsy design and technology duo bring creativity and technical
          craft to building digital experiences for NEU&rsquo;s community to
          thrive.
        </div>
      </div>

      <div class="team" ng-if="showMultiple || index == 4" ng-animate="animate()">
        <img class="team__img" src="/img/team/OMFGCO.png" at2x alt width="80" height="80">
        <div class="team__name">OMFGCO</div>
        <div class="team__title">Design</div>
        <div class="team__details">
          The creative masterminds behind the Ace Hotel chain join us to create
          the most coveted maker space around. Prepare to stay a while.
        </div>
      </div>

      <div class="team" ng-if="showMultiple || index == 5" ng-animate="animate()">
        <img class="team__img" src="/img/team/Clairvoyant.png" at2x alt width="80" height="80">
        <div class="team__name">Clairvoyant</div>
        <div class="team__title">Educational Technology</div>
        <div class="team__details">
          With a rich history in education software, the Clairvoyant team weave
          together systems offering support for our students and faculty.
        </div>
      </div>

      <a class="team__arrow team__arrow--left" ng-click="prev()"></a>
      <a class="team__arrow team__arrow--right" ng-click="next()"></a>
    </div>
  </div>

  <div class="full-bg full-bg--orange" ng-controller="JoinCtrl" ng-class="{'join-us--done': state.submitted}">
    <div class="l-main" id="join-us">
      <form class="join-us l-pad" name="form" ng-submit="submit()" ng-hide="state.submitted" ng-animate="'join-us__poof'" novalidate>
        <h2 class="join-us__header">Part of<br>the solution?</h2>

        <div class="join-us__radio">
          <label ng-class="{checked: data.type == 'fan'}"><input type="radio" name="type" ng-model="data.type" value="fan"> Fan</label>
          <label ng-class="{checked: data.type == 'faculty'}"><input type="radio" name="type" ng-model="data.type" value="faculty"> Faculty</label>
          <label ng-class="{checked: data.type == 'partner'}"><input type="radio" name="type" ng-model="data.type" value="partner"> Partner</label>
        </div>

        <input name="name" type="text" ng-model="data.name" placeholder="Name" required>
        <div class="join-us__error" ng-show="state.invalid && !form.name.$valid">
          But what shall we call you?
        </div>

        <input name="email" type="email" spellcheck="false" ng-model="data.email" placeholder="Email" required>
        <div class="join-us__error" ng-show="state.invalid && form.email.$error.required">
          Come on, let&rsquo;s stay in touch!
        </div>
        <div class="join-us__error" ng-show="state.invalid && form.email.$error.email">
          Is that really your email?
        </div>

        <input type="text" pattern="[0-9]*" ng-model="data.zip" placeholder="ZIP code">
        <!-- This comment avoids a FF box-sizing bug. -->
        <textarea ng-model="data.note" placeholder="Optional love note."></textarea>

        <div class="join-us__buttons">
          <button type="submit" ng-model="_" ng-disabled="state.submitting" class="button">Yes!</button>
          <div class="join-us__nospam">
            Psst:<br>We don't share, sell,<br>or spam. XO.
          </div>
        </div>
        <div class="join-us__error join-us__error--form" ng-show="state.submissionFailed">
          Something went wrong! :-(
        </div>
      </form>
    </div>
  </div>

  <div class="full-bg full-bg--black share" ng-controller="ShareCtrl">
    <div class="l-main">
      <div class="share__header">Spread<br>the logic</div>

      <div class="share__icons">
        <a href="https://www.facebook.com/sharer/sharer.php?t=New+Engineering+University&amp;u=http%3A//neu.me/" ng-click="share($event, 'facebook')" class="share-icon share-icon--facebook">Facebook</a>
        <a href="https://twitter.com/intent/tweet?url=http%3A//neu.me/&amp;text=New+Engineering+University" ng-click="share($event, 'twitter')" class="share-icon share-icon--twitter">Twitter</a>
        <a href="https://plus.google.com/share?url=http%3A//neu.me/" ng-click="share($event, 'google')" class="share-icon share-icon--gplus">Google+</a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A//neu.me/&amp;title=New+Engineering+University" ng-click="share($event, 'linkedin')" class="share-icon share-icon--linkedin">Linkedin</a>
      </div>
  </div>
</div></div><!-- /content-wrapper /scroll-wrapper -->

  <!-- build:js js/vendor.min.js -->
  <script src="bower_components/AngularJS/angular.js"></script>
  <script src="bower_components/AngularJS/angular-mobile.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/gsap/TweenLite.min.js"></script>
  <script src="js/gsap/TimelineLite.min.js"></script>
  <script src="js/gsap/CSSPlugin.min.js"></script>
  <script src="js/gsap/ScrollToPlugin.min.js"></script>
  <!-- endbuild -->
  <!--[if lte IE 9]>
  <script src="ie/respond.js"></script>
  <![endif]-->
  <!-- build:js js/neu.min.js -->
  <script src="build/js/app.js"></script>
  <script src="build/js/controllers.js"></script>
  <script src="build/js/directives.js"></script>
  <script src="build/js/services.js"></script>
  <!-- endbuild -->
</div>
</body>
</html>
