<!doctype html>
<html lang="en" ng-app="neu">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NEU &middot; New Engineering University</title>
  <!-- Made by Cabin <http://madebycabin.com/>. xo! -->

  <link rel="shortcut icon" href="/favicon.ico?t=1374221039">
  <meta name="viewport" content="initial-scale=1">
  <meta property="og:title" content="New Engineering University">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://neu.me/img/mark-1500.png">
  <meta property="og:url" content="http://neu.me/">
  <meta property="og:site_name" content="NEU">
  <meta property="og:description" content="A new breed of university for a new breed of engineer.">
  <meta name="description" content="A new breed of university for a new breed of engineer.">

  <!--[if lte IE 8]>
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400italic" rel="stylesheet" type="text/css">
  <![endif]-->

  <link href="//cloud.typography.com/7953332/754206/css/fonts.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/d0c0e62d.neu.min.css">

  <script src="//use.typekit.net/dru8tic.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="/js/5490b75a.modernizr.min.js"></script>
</head>
<body>
  

  <header class="site-header">
    <div class="site-header__container">
      <hgroup>
        <a href="/"><h1 class="site-header__logo">NEU</h1></a>
        <a href="http://newhaven.edu/" target="_blank">
          <h2 class="site-header__partner">
            A new approach to engineering at the University of New Haven
          </h2>
        </a>
      </hgroup>
      <nav class="site-header__nav" ng-cloak neu-mobile-nav>
  <a class="site-header__nav__toggle" ng-click="toggleMenu()"></a>
  <ul class="nav-list" ng-class="{'nav-list--mobile': isMobile}" ng-show="menuOpen">
    
      <li class="is-selected">
        <a href="/about">
          <hr class="nav-list__indicator">
          
          About
        </a>
      </li>
    
      <li>
        <a href="/program">
          <hr class="nav-list__indicator">
          
            <span class="nav-list__beta">Beta</span>
          
          Program
        </a>
      </li>
    
      <li>
        <a href="/apply">
          <hr class="nav-list__indicator">
          
          Get Info
        </a>
      </li>
    
  </ul>
</nav>

    </div>
    
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item"><a href="/about">About</a></li>
      <li class="subnav__item is-selected">Team</li>
      <li class="subnav__item"><a href="http://aac.neu.me/members.html" target="_blank">Advisors</a></li>
      <li class="subnav__item"><a href="/about/press">Press</a></li>
      <li class="subnav__item subnav__item--desktop-only"><a href="#contact" neu-smooth-scroll>Contact</a></li>
    </ol>
  </div>

  </header>

  <!--[if lte IE 8]>
  <div class="old-ie">
    <div class="old-ie__dialog" style="text-align: center;">
      <p>Your browser seems a bit outdated.<br>We recommend upgrading to
      improve your experience!</p>
      <a class="button" href="http://browsehappy.com/" target="_blank">Upgrade</a>
      <p><a class="old-ie__ignore" ng-click="ignore()">No thanks</a></p>
    </div>
  </div>
  <![endif]-->

  <div class="page-top">
  <hgroup class="page-title">
    <h1>Meet the game-changers</h1>
    <h2>Better yet, <a href="#contact" neu-smooth-scroll>join &lsquo;em</a>.</h2>
  </hgroup>
</div>
  <section class="content">
  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">Team</div>

    <div class="rule-block__content rule-block__content--full">
      <div class="team__member team__member--solo">
        <a class="team__link" href="http://newhaven.edu/" target="_blank">
          <img class="team__img" src="/img/team/UNH.png" alt
            width="80" height="80" cb-at2x="/img/team/UNH@2x.png">
          <div class="heading heading--small">University of New Haven</div>
          <div class="subheading">Educational Programs</div>
        </a>
      </div>

      <div class="team">
        <hr>
        <div class="team__container">
        
          <div class="team__member">
            <a class="team__link" href="http://www.linkedin.com/in/scottkauffman" target="_blank">
              <img class="team__img" src="/img/team/Scott.png" alt
                width="80" height="80" cb-at2x="/img/team/Scott@2x.png">
              <div class="heading heading--small">Scott Kauffman</div>
              <div class="subheading">President &amp; CEO</div>
            </a>
          </div>
        
          <div class="team__member">
            <a class="team__link" href="http://www.linkedin.com/pub/lueny-morell/1/283/668" target="_blank">
              <img class="team__img" src="/img/team/Lueny.png" alt
                width="80" height="80" cb-at2x="/img/team/Lueny@2x.png">
              <div class="heading heading--small">Lueny Morell</div>
              <div class="subheading">Provost &amp;<br>Chief Academic Officer</div>
            </a>
          </div>
        
          <div class="team__member">
            <a class="team__link" href="http://www.linkedin.com/pub/jessica-koziupa/1/433/b35/" target="_blank">
              <img class="team__img" src="/img/team/Jessica.png" alt
                width="80" height="80" cb-at2x="/img/team/Jessica@2x.png">
              <div class="heading heading--small">Jessica Koziupa</div>
              <div class="subheading">Operations Manager</div>
            </a>
          </div>
        
          <div class="team__member">
            <a class="team__link" href="http://www.linkedin.com/pub/tracey-parry/1/818/900/" target="_blank">
              <img class="team__img" src="/img/team/Tracey.png" alt
                width="80" height="80" cb-at2x="/img/team/Tracey@2x.png">
              <div class="heading heading--small">Tracey Parry</div>
              <div class="subheading">Marketing &amp; PR</div>
            </a>
          </div>
        
          <div class="team__member">
            <a class="team__link" href="http://madebycabin.com/" target="_blank">
              <img class="team__img" src="/img/team/Cabin.png" alt
                width="80" height="80" cb-at2x="/img/team/Cabin@2x.png">
              <div class="heading heading--small">Cabin</div>
              <div class="subheading">Design &amp; Technology</div>
            </a>
          </div>
        
          <div class="team__member">
            <a class="team__link" href="http://www.omfgco.com/" target="_blank">
              <img class="team__img" src="/img/team/OMFGCO.png" alt
                width="80" height="80" cb-at2x="/img/team/OMFGCO@2x.png">
              <div class="heading heading--small">OMFGCO</div>
              <div class="subheading">Environmental Design</div>
            </a>
          </div>
        
          <div class="team__member">
            <a class="team__link" href="http://clairvoyantsoft.com/" target="_blank">
              <img class="team__img" src="/img/team/Clairvoyant.png" alt
                width="80" height="80" cb-at2x="/img/team/Clairvoyant@2x.png">
              <div class="heading heading--small">Clairvoyant</div>
              <div class="subheading">Educational Technology</div>
            </a>
          </div>
        
          <div class="team__member">
            <a class="team__link" href="http://www.universityventuresfund.com/" target="_blank">
              <img class="team__img" src="/img/team/UniversityVentures.png" alt
                width="80" height="80" cb-at2x="/img/team/UniversityVentures@2x.png">
              <div class="heading heading--small">University Ventures</div>
              <div class="subheading">Investment</div>
            </a>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="page-bottom"></div>
  <footer id="contact" class="site-footer">
  <div class="site-footer__bg">
    <div ng-controller="RfiCtrl" ng-cloak class="rfi-container" ng-class="{'is-submitted': state.submitted}">
  <div ng-show="state.submitted" class="rfi-complete" ng-animate="'rfi-complete'">
    <div class="grid-container">
      <div class="rfi-complete__heading">Bravo!</div>
      <div class="rfi-complete__text">
        We&rsquo;ll be in touch shortly.<br>
        PS: Don&rsquo;t forget to friend &amp; follow us for more NEU bliss!
      </div>
    </div>
  </div>

  <form class="rfi grid-container" name="form" ng-submit="submit('/api/rfi')"
    ng-hide="state.submitted" novalidate ng-animate="'rfi'">
    
    <div class="site-footer__subhead">Get in Touch</div>

    <div class="site-footer__chunk">
      <div class="col-s">
        <select name="type" ng-model="data.type" neu-rfi-select
          ng-options="type.key as type.value for type in types"></select>

        <input name="fname" type="text" ng-model="data.fname" placeholder="First name" required>
        <input name="lname" type="text" ng-model="data.lname" placeholder="Last name" required>
        <div class="rfi__error"
          ng-show="state.invalid && !(form.fname.$valid && form.lname.$valid)">
          But what shall we call you?
        </div>
      </div>

      <div class="col-s">
        <input name="email" type="email" spellcheck="false" ng-model="data.email" placeholder="Email" required>
        <div class="rfi__error" ng-show="state.invalid && form.email.$error.required">
          Come on, let&rsquo;s stay in touch!
        </div>
        <div class="rfi__error" ng-show="state.invalid && form.email.$error.email">
          Is that really your email?
        </div>

        <input name="phone" type="tel" ng-model="data.phone" placeholder="Phone">

        <input name="zip" type="text" pattern="[0-9]*" ng-model="data.zip" placeholder="ZIP code">
      </div>
    </div>

    <div class="site-footer__chunk site-footer__chunk--right">
      <div class="col-s omega">
        <textarea ng-model="data.note" placeholder="Optional love note."></textarea>

        <label class="rfi__checkbox" ng-class="{checked: data.subscribed}">
          <input type="checkbox" name="subscribed" ng-model="data.subscribed">
          Subscribe to our fun-filled monthly newsletter
        </label>

        <button type="submit" ng-model="_" ng-disabled="state.submitting" class="button">Ship it!</button>

        <div class="rfi__error rfi__error--form" ng-show="state.submissionFailed">
          Something went wrong! :-(
        </div>
      </div>
    </div>
  </form>
</div>

    <div class="grid-container">
      <div class="site-footer__contact">
        <div class="col-l site-footer__chunk">
          <div class="site-footer__subhead">NEU Offices</div>

          <div class="col-s">
            <a href="https://www.google.com/maps?q=395+Page+Mill+Rd,+94306" target="_blank">
              395 Page Mill Road, 3rd Floor<br>
              Palo Alto, CA 94306
            </a>
          </div>

          <table class="col-s omega">
            <tr>
              <td>Email:</td>
              <td><a href="mailto:frontdesk@neu.me">frontdesk@neu.me</a></td>
            </tr><tr>
              <td>Phone:</td>
              <td>(855) 638-6398</td>
            </tr>
          </table>
        </div>

        <div class="col-s site-footer__chunk omega">
          <div class="site-footer__subhead">In the Wild</div>

          <a href="https://www.facebook.com/pages/NEU-New-Engineering-University/577097745688022"
            target="_blank" class="share-icon share-icon--facebook">Facebook</a>
          <a href="https://twitter.com/spreadthelogic"
            target="_blank" class="share-icon share-icon--twitter">Twitter</a>
          <a href="http://instagram.com/spreadthelogic/"
            target="_blank" class="share-icon share-icon--instagram">Instagram</a>
          <a href="https://plus.google.com/101741858749215450388/posts"
            target="_blank" class="share-icon share-icon--google">Google+</a>
          <a href="http://www.linkedin.com/company/neu-new-engineering-university"
            target="_blank" class="share-icon share-icon--linkedin omega">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__copyright">
    &copy;2014 New Engineering University, Inc.
  </div>
</footer>


  

  <script src="/js/edb4d3f7.vendor.min.js"></script>
  <!--[if lte IE 8]>
  <script src="ie/respond.js"></script>
  <![endif]-->
  <script src="/js/0433c33d.neu.min.js"></script>
</body>
</html>
