{% extends "_base.html" %}

{% block header %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item is-selected">About</li>
      <li class="subnav__item"><a href="/about/team">Team{# / Partners#}</a></li>
      <li class="subnav__item"><a href="http://aac.neu.me/members.html" target="_blank">Advisors</a></li>
      <li class="subnav__item"><a href="/about/press">Press</a></li>
      <li class="subnav__item subnav__item--desktop-only"><a href="#contact" neu-smooth-scroll>Contact</a></li>
    </ol>
  </div>
{% endblock %}

{% block top %}
  <hgroup class="page-title">
    <h1>A new breed of university</h1>
    <h2>for a new breed of engineer.</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">In a nutshell</div>

    <p class="rule-block__content rule-block__content--big">Founded in 2010,
    NEU is a revolutionary new engineering university differentiated by its
    diverse maker culture, faculty of leading practitioners and mentors, and
    unparalleled network of industry partnerships. With programs targeting
    high-demand market sectors, NEU transforms top talent into fully-accredited
    graduates with the relevant experience necessary to secure jobs.</p>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">The dynamic duo</div>

    <div class="rule-block__content">
      <div class="partners-box">
        <div class="partners-box__neu">NEU</div>
        <div class="partners-box__plus">+</div>
        <a href="{{ unh_url }}" target="_blank">
          <div class="partners-box__unh">University of New Haven</div>
        </a>
      </div>

      <p>Our esteemed partner, the <a href="{{ unh_url }}" target="_blank"
      >University of New Haven</a>, brings nearly a
      century of rich history, providing NEU with academic expertise, support,
      and degree-granting capacity. While NEU&rsquo;s campus and programs are
      located in Silicon Valley, California, all degrees are granted by the
      University of New Haven. Together, we are proud to lock arms on this
      great quest to re-engineer engineering education.</p>
    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">What makes NEU different?</div>

    <div class="rule-block__content">
      <div class="just-about-everything">Just about everything.</div>

      <div class="rule-title">Real-world projects</div>

      <p>Our learn-by-doing philosophy transforms theory into relevant
      experience, yielding proven outcomes.</p>

      <div class="rule-title">Collaborative teams</div>

      <p>Scholars work in small teams that challenge and refine technical
      prowess, accountability, management, and interpersonal skills.</p>

      <div class="rule-title">Faculty &amp; industry mentors</div>

      <p>NEU&rsquo;s faculty of leading practitioners and industry mentors
      provide scholars with direct access to working engineers, while also
      furthering employer ties.</p>

      <div class="rule-title">Cutting-edge technologies</div>

      <p>In such a rapidly-evolving space, NEU prides itself on taking full
      advantage of tools and technologies that enable the greatest learning
      outcomes.</p>

      <div class="rule-title">Unrivaled makerspace</div>

      <p>Designed to encourage fierce collaboration and experimentation,
      NEU&rsquo;s makerspace is home to all kinds of fun.</p>

    </div>
  </div>
{% endblock %}
