{% extends "_base.html" %}

{% block header %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item is-selected">About</li>
      <li class="subnav__item"><a href="/about/team">Team / Partners</a></li>
      <li class="subnav__item"><a href="XXX">Press</a></li>
      <li class="subnav__item"><a href="#contact" neu-smooth-scroll>Contact</a></li>
    </ol>
  </div>
{% endblock %}

{% block top %}
  <hgroup class="page-title">
    <h1>A new breed of university</h1>
    <h2>for a new breed of engineer.</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">In a nutshell</div>

    <p class="rule-block__content rule-block__content--big">Founded in 2010,
    NEU is a revolutionary new engineering university differentiated by its
    diverse maker culture, faculty of leading practitioners and mentors, and
    unparalleled network of industry partnerships. With programs targeting
    high-demand market sectors, NEU transforms top talent into fully-accredited
    graduates with the relevant experience necessary to secure jobs.</p>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">The dynamic duo</div>

    <div class="rule-block__content">
      <p>XXX image</p>

      <p>Our esteemed partner, the University of New Haven, brings nearly a
      century of rich history, providing NEU with academic expertise, support,
      and degree-granting capacity. While NEU&rsquo;s campus and programs are
      located in Silicon Valley, California, all degrees are granted by the
      University of New Haven. Together, we are proud to lock arms on this
      great quest to re-engineer engineering education.</p>
    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">What makes NEU different?</div>

    <div class="rule-block__content">
      <p>XXX image</p>

      <div class="rule-title">Real-world projects</div>

      <p>XXX</p>

      <div class="rule-title">Collaborative teams</div>

      <p>XXX</p>

      <div class="rule-title">Faculty of leading practitioners</div>

      <p>XXX</p>

      <div class="rule-title">Industry mentors</div>

      <p>XXX</p>

      <div class="rule-title">Unrivaled makerspace</div>

      <p>XXX</p>

    </div>
  </div>
{% endblock %}
