{% extends "_base.html" %}

{% block header %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item"><a href="/about">About</a></li>
      <li class="subnav__item"><a href="/about/team">Team{# / Partners#}</a></li>
      <li class="subnav__item"><a href="http://aac.neu.me/members.html" target="_blank">Advisors</a></li>
      <li class="subnav__item is-selected">Press</li>
      <li class="subnav__item subnav__item--desktop-only"><a href="#contact" neu-smooth-scroll>Contact</a></li>
    </ol>
  </div>
{% endblock %}

{% block top %}
  <hgroup class="page-title">
    <h1>Read all about it</h1>
    <h2>Press inquiries? <a href="#contact" neu-smooth-scroll>Get at us.</a></h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">
      Press release
      <div class="subheading">September 22, 2013</div>
    </div>

    <div class="rule-block__content">
      <div class="heading">
        Envisioned Master’s Programs in Making and Big Data Aim to Address
        Engineering’s Skill and Diversity Gaps
      </div>

      <p>NEW YORK, N.Y. – Sunday, September 22, 2013 - A team of innovators and
      globally recognized technology and educational leaders, founded as New
      Engineering University (“NEU”), announced today that they will join
      creative and intellectual forces to develop programs in partnership with
      the University of New Haven to re-engineer engineering education in Big
      Data and create the nation’s first degree in Making that builds on the
      phenomenon of the Maker Movement.</p>

      <p>The programs will be designed to foster unmatched diversity in
      engineering education and deliver an industry-connected experience to
      meet hiring needs in growing sectors of the economy. The first program is
      targeted to be a one-year Master of Engineering degree in Big Data to be
      offered at a Maker space-like facility in Palo Alto, Calif. Early
      supporters for the program including MAKE, the drivers of the Maker
      Movement; the Geena Davis Institute for Gender in Media, led by the
      Academy Award® winning actor; Codecademy, the online coding platform;
      and GoldieBlox, the celebrated female-targeted engineering toy company,
      are just some of the groups that will reach out to their extensive
      networks of engineers to identify candidates for the inaugural class.</p>

      <p>NEU and the University of New Haven are developing the curricula for
      these offerings and engaging industry support. An external advisory
      council comprising industry and academic leaders will guide the design of
      curricula and programs. The University of New Haven is preparing to seek
      state authorizations for the programs once the curricula are developed.
      Recruitment will begin after the programs are approved. One of the goals
      of the program is to enroll a class with a diverse student body where at
      least half of the students will be women, challenging the current
      environment in which just 11 percent of practicing engineers are
      female.</p>

      <p>“Existing engineering programs are not attracting enough students, and
      certainly not a representative mix of students,” said Scott Kauffman, CEO
      of NEU. “And there is an unintentional disconnect between traditional
      higher education and the employment needs of American corporations. Last
      year, nearly 90 percent of U.S. companies reported difficulty hiring
      engineering talent, and 1.7 million cloud-related jobs went unfilled
      globally in a sector that will produce 14 million jobs by 2015. The
      talent gap is a global crisis that we and our mission-aligned
      institutions will address through an entirely new breed of engineering
      program.”</p>

      <p>“This partnership is an outstanding opportunity to explore innovative
      curricula with industry partners,” said Daniel May, University of New
      Haven provost and senior vice president for academic affairs. “The
      University of New Haven provides the highest-quality education through
      experiential, collaborative and discovery-based learning in partnership
      with industry leaders, and together we will extend our leadership into
      the highest growth technical sectors of the economy.”</p>

      <p>The envisioned debut program in Big Data will target recent
      engineering graduates and underemployed engineers to prepare them for
      leadership positions in data-centric businesses by integrating the hiring
      needs of employers into the curriculum and learning experiences.</p>

      <p>The program’s education model features:</p>

      <ul>
        <li>A hands-on curriculum that maximizes teamwork and uses real-world
        projects</li>
        <li>Mentor-driven teaching from industry practitioners, furthering
        employer ties</li>
        <li>Learning environments with technology-enabled simulations and
        real-time projects</li>
        <li>Online learning, where appropriate, to target and improve retention
        and learning outcomes</li>
      </ul>

      <p>“These carefully selected elements, delivered in a dramatically
      expansive physical environment, combine to create a new breed of
      engineer - smart, diverse, creative and passionate about making a
      difference in the world,” added Kauffman. “Our ultimate goal is to enable
      our graduates to enter a high-growth industry in a climate where half of
      all students graduating from the U.S. higher education system are
      underemployed.”</p>

      <p>Once approvals are received from the states of Connecticut and
      California, recruitment and instruction will begin, with degrees to be
      awarded by the University of New Haven, which is accredited by the New
      England Association of Schools and Colleges (NEASC).</p>

      <p>The program will also focus heavily on reaching underrepresented
      groups by creating programs targeted at these demographics. “NEU is
      distinctively positioned to deliver on the vision of the Geena Davis
      Institute: providing more accessible training in science, technology,
      engineering and math for underserved minority groups—in particular,
      women,” said Geena Davis, founder of the Geena Davis Institute for Gender
      in Media. “First in the U.S., and then globally, we’ll positively impact
      how our workforce is shaped for innovation.”</p>

      <p><b>New Engineering University, Inc. Leadership Team</b>: Scott
      Kauffman joins as CEO. He is an accomplished leader and former Silicon
      Valley CEO of both private and public companies. Lueny Morell, winner of
      the prestigious Gordon Engineering Prize and former president of the
      International Federation of Engineering Education Societies, joins as
      chief academic officer. University Ventures, the only investment firm
      focused exclusively on the global higher education sector, is backing NEU
      with valued expertise and a capital base of $100M. Learn more about NEU
      at www.neu.me.</p>

      <p><b>About the University of New Haven</b></p>

      <p>The University of New Haven is a private, top-tier comprehensive
      institution recognized as a national leader in experiential education.
      Founded in 1920 on the campus of Yale University in cooperation with
      Northeastern University, the University of New Haven moved to its current
      West Haven campus in 1960. The University operates a satellite campus in
      Tuscany, Italy, and offers programs at several locations throughout
      Connecticut and in New Mexico. The University of New Haven is fully
      accredited by the New England Association of Schools and Colleges
      (NEASC).</p>

      <p>Contact:<br>
      Tracey E. Parry, Airfoil Group<br>
      408-306-9712<br>
      <a href="mailto:parry@airfoilgroup.com">parry@airfoilgroup.com</a>
      </p>
    </div>
  </div>
{% endblock %}
