{% extends "_base.html" %}

{% block content %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item"><a href="/about">About</a></li>
      <li class="subnav__item is-selected">Team / Partners</li>
      <li class="subnav__item"><a href="XXX">Press</a></li>
      <li class="subnav__item"><a href="#contact">Contact</a></li>
    </ol>
  </div>

  <hgroup class="page-title">
    <h1>Meet the game-changers</h1>
    <h2>Better yet, <a href="#contact">join &lsquo;em</a>.</h2>
  </hgroup>

  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">Team</div>

    <div class="rule-block__content rule-block__content--full">
      XXX team images, names, titles
    </div>
  </div>

  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">Partners</div>

    <div class="rule-block__content rule-block__content--full">
      XXX partner images, names, titles
    </div>
  </div>
{% endblock %}
