{% extends "_base.html" %}

{% block header %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item"><a href="/about">About</a></li>
      <li class="subnav__item is-selected">Team{# / Partners#}</li>
      {# XXX press
      <li class="subnav__item"><a href="/about/press">Press</a></li>
      #}
      <li class="subnav__item"><a href="#contact" neu-smooth-scroll>Contact</a></li>
    </ol>
  </div>
{% endblock %}

{% block top %}
  <hgroup class="page-title">
    <h1>Meet the game-changers</h1>
    <h2>Better yet, <a href="#contact" neu-smooth-scroll>join &lsquo;em</a>.</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">Team</div>

    <div class="rule-block__content rule-block__content--full">
      <div class="team__member team__member--solo">
        <a class="team__link" href="{{ unh_url }}" target="_blank">
          <img class="team__img" src="/img/team/UNH.png" alt
            width="80" height="80" cb-at2x="/img/team/UNH@2x.png">
          <div class="heading heading--small">University of New Haven</div>
          <div class="subheading">Educational Programs</div>
        </a>
      </div>

      <div class="team">
        <hr>
        <div class="team__container">
        {% for member in team %}
          <div class="team__member">
            <a class="team__link" href="{{ member.url }}" target="_blank">
              <img class="team__img" src="{{ member.image_thumb_url }}" alt
                width="80" height="80" cb-at2x="{{ member.image_thumb_url_2x }}">
              <div class="heading heading--small">{{ member.name }}</div>
              <div class="subheading">{{ member.title }}</div>
            </a>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{# TODO: Waiting on good logos, and ideally more partners!
{% block bottom %}
  <div class="partners">
    <div class="heading">Partners</div>

    <div class="grid">
      {% for partner in partners %}
        <a href="{{ partner.url }}" target="_blank">
          <img src="{{ partner.image_url }}" alt="{{ partner.name }}">
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
#}
