<!doctype html>
<html lang="en" ng-app="neu">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NEU &middot; New Engineering University</title>
  <!-- Made by Cabin <http://madebycabin.com/>. xo! -->


  <link rel="shortcut icon" href="/favicon.ico?t=1374221039">
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="New Engineering University">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://neu.me/img/mark-1500.png">
  <meta property="og:description" content="A new breed of university for a new breed of engineer.">
  <meta property="og:url" content="http://neu.me/">
  <meta property="og:site_name" content="NEU">

  <!-- XXX IE: verify whether it can load crimson now -->
  <!--[if lte IE 8]>
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400italic" rel="stylesheet" type="text/css">
  <![endif]-->

  <link href="//cloud.typography.com/6026852/802862/css/fonts.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic" rel="stylesheet" type="text/css">
  <!-- build:css /css/neu.min.css -->
  <link href="/bower_components/normalize-css/normalize.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <!-- endbuild -->

  <script src="//use.typekit.net/dru8tic.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- build:js /js/modernizr.min.js -->
  <script src="/js/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body{# TODO: for homepage overlay {% if homepage %} ng-cloak{% endif %}#}>
  {% if makerfaire %}{% block content %}{% endblock %}{% else %}

  <header class="site-header">
    <div class="site-header__container">
      <hgroup>
        <a href="/"><h1 class="site-header__logo">NEU</h1></a>
        <a href="{{ unh_url }}" target="_blank">
          <h2 class="site-header__partner">
            A new approach to engineering at the University of New Haven
          </h2>
        </a>
      </hgroup>
      {% include "_nav.html" %}
    </div>
    {% block header %}{% endblock %}
  </header>

  <!--[if lte IE 8]>
  <div class="old-ie">
    <div class="old-ie__dialog" style="text-align: center;">
      <p>Your browser seems a bit outdated.<br>We recommend upgrading to
      improve your experience!</p>
      <a class="button" href="http://browsehappy.com/" target="_blank">Upgrade</a>
      <p><a class="old-ie__ignore" ng-click="ignore()">No thanks</a></p>
    </div>
  </div>
  <![endif]-->

  <div class="page-top">{% block top %}{% endblock %}</div>
  <section class="content">{% block content %}{% endblock %}</section>
  <div class="page-bottom">{% block bottom %}{% endblock %}</div>
  {% include "_footer.html" %}

  {% endif %}{# /makerfaire #}

  <!-- build:js /js/vendor.min.js -->
  <script src="/bower_components/angular-1.1.x/angular.js"></script>
  <script src="/bower_components/angular-1.1.x/angular-mobile.js"></script>
  <script src="/bower_components/cabin-utils/dist/preload.js"></script>
  <script src="/bower_components/cabin-utils/dist/isRetina.js"></script>
  <script src="/bower_components/cabin-utils/dist/at2x.js"></script>
  <script src="/bower_components/greensock-js/src/uncompressed/TweenLite.js"></script>
  <script src="/bower_components/greensock-js/src/uncompressed/TimelineLite.js"></script>
  <script src="/bower_components/greensock-js/src/uncompressed/plugins/CSSPlugin.js"></script>
  <script src="/bower_components/greensock-js/src/uncompressed/plugins/ScrollToPlugin.js"></script>
  <!-- endbuild -->
  <!--[if lte IE 8]>
  <script src="ie/respond.js"></script>
  <![endif]-->
  <!-- build:js /js/neu.min.js -->
  <script src="/js/app.js"></script>
  <script src="/js/nav.js"></script>
  <script src="/js/ie.js"></script>
  <script src="/js/scrolling.js"></script>
  <script src="/js/placeholder.js"></script>
  <script src="/js/rfi.js"></script>
  <script src="/js/homepage.js"></script>
  <!-- endbuild -->
</body>
</html>
