<footer id="contact" class="site-footer">
  <div class="site-footer__bg">
    {% include "_rfi.html" %}
    <div class="grid-container">
      <div class="site-footer__contact">
        <div class="col-l site-footer__chunk">
          <div class="site-footer__subhead">NEU Offices</div>

          <div class="col-s">
            <a href="https://www.google.com/maps?q=395+Page+Mill+Rd,+94306" target="_blank">
              395 Page Mill Road, 3rd Floor<br>
              Palo Alto, CA 94306
            </a>
          </div>

          <table class="col-s omega">
            <tr>
              <td>Email:</td>
              <td><a href="mailto:frontdesk@neu.me">frontdesk@neu.me</a></td>
            </tr><tr>
              <td>Phone:</td>
              <td>(855) 638-6398</td>
            </tr>
          </table>
        </div>

        <div class="col-s site-footer__chunk omega">
          <div class="site-footer__subhead">In the Wild</div>

          <a href="https://www.facebook.com/pages/NEU-New-Engineering-University/577097745688022"
            target="_blank" class="share-icon share-icon--facebook">Facebook</a>
          <a href="https://twitter.com/spreadthelogic"
            target="_blank" class="share-icon share-icon--twitter">Twitter</a>
          <a href="http://instagram.com/spreadthelogic/"
            target="_blank" class="share-icon share-icon--instagram">Instagram</a>
          <a href="https://plus.google.com/101741858749215450388/posts"
            target="_blank" class="share-icon share-icon--google">Google+</a>
          <a href="http://www.linkedin.com/company/neu-new-engineering-university"
            target="_blank" class="share-icon share-icon--linkedin omega">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__copyright">
    &copy;2013 New Engineering University, Inc.
  </div>
</footer>
