<footer id="contact" class="site-footer">
  <div class="site-footer__bg">
    <div class="grid-container">
      {% include "_rfi.html" %}

      <div class="site-footer__contact">
        <div class="col-l">
          <div class="site-footer__subhead">NEU Headquarters</div>

          <div class="col-s">
            <a href="https://www.google.com/maps?q=395+Page+Mill+Rd,+94306" target="_blank">
              395 Page Mill Road, 3rd Floor<br>
              Palo Alto, CA 94306
            </a>
          </div>

          <table class="col-s omega">
            <tr>
              <td>Email:</td>
              <td><a href="mailto:frontdesk@neu.me">frontdesk@neu.me</a></td>
            </tr><tr>
              <td>Phone:</td>
              <td>(855) 638-6398</td>
            </tr>
          </table>
        </div>

        <div class="col-s omega">
          <div class="site-footer__subhead">In the Wild</div>

          Facebook
          Twitter
          Google+
          LinkedIn
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__copyright">
    &copy;2013 New Engineering University, Inc.
  </div>
</footer>
