<div ng-controller="RfiCtrl">
  <div ng-show="state.submitted" class="rfi-complete">
    <div class="grid">
      <div class="rfi-complete__heading">Bravo!</div>
      <div class="rfi-complete__text">
        We&rsquo;ll be in touch shortly.<br>
        PS: Don&rsquo;t forget to friend &amp; follow us for more NEU bliss!
      </div>
    </div>
  </div>

  <form class="rfi" name="form" ng-submit="submit()" ng-hide="state.submitted" novalidate>
    <div class="site-footer__subhead">Get in Touch</div>

    <div class="col-s">
      <select name="type" ng-model="data.type" name="type" neu-rfi-select
        ng-options="type.key as type.value for type in types"></select>

      <input name="fname" type="text" ng-model="data.fname" placeholder="First name" required>
      <input name="lname" type="text" ng-model="data.lname" placeholder="Last name" required>
      <div class="rfi__error"
        ng-show="state.invalid && !(form.fname.$valid && form.lname.$valid)">
        But what shall we call you?
      </div>
    </div>

    <div class="col-s">
      <input name="email" type="email" spellcheck="false" ng-model="data.email" placeholder="Email" required>
      <div class="rfi__error" ng-show="state.invalid && form.email.$error.required">
        Come on, let&rsquo;s stay in touch!
      </div>
      <div class="rfi__error" ng-show="state.invalid && form.email.$error.email">
        Is that really your email?
      </div>

      <input name="phone" type="tel" ng-model="data.phone" placeholder="Phone">

      <input type="text" pattern="[0-9]*" ng-model="data.zip" placeholder="ZIP code">
    </div>

    <div class="col-s omega">
      <textarea ng-model="data.note" placeholder="Optional love note."></textarea>

      <label class="rfi__checkbox" ng-class="{checked: data.subscribe}">
        <input type="checkbox" name="subscribe" ng-model="data.subscribe">
        Subscribe to our fun-filled monthly newsletter
      </label>
      
      <button type="submit" ng-model="_" ng-disabled="state.submitting" class="button">Ship it!</button>

      <div class="rfi__error rfi__error--form" ng-show="state.submissionFailed">
        Something went wrong! :-(
      </div>
    </div>
  </form>
</div>
