{% extends "_base.html" %}

{% block header %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item is-selected">Apply</li>
      <li class="subnav__item subnav__item--note">Applications opening soon</li>
    </ol>
  </div>
{% endblock %}

{% block top %}
  <hgroup class="page-title">
    <h1>Prepare for takeoff</h1>
    <h2>One-year Master&rsquo;s in Big Data</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">Is this program for you?</div>

    <div class="rule-block__content">

      <p>As a program intended to investigate the boundaries of big data across
      disciplines, we are interested in candidates who have a diverse set of
      interests.</p>

      <p>Prospective students need to be experienced in web and mobile
      development&mdash;curious and imaginative, experimenting with data on
      their own. They are human-centered practitioners with cross-disciplinary
      backgrounds and interests. Applicants are equal parts abstract thinker
      and craftsperson with at least two to five years of professional
      experience.</p>

    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">Application<br>&amp; degrees</div>

    <div class="rule-block__content">
      <div class="partners-box">
        <div class="partners-box__neu">NEU</div>
        <div class="partners-box__plus">+</div>
        <a href="{{ unh_url }}" target="_blank">
          <div class="partners-box__unh">University of New Haven</div>
        </a>
      </div>

      <p>Our one-year Master&rsquo;s in Big Data program takes place on
      NEU&rsquo;s campus in Silicon Valley, California. Your application will
      be approved, and your degree granted, by our esteemed
      partner, the <a href="{{ unh_url }}" target="_blank">University
      of New Haven</a>. <a href="/about"><em>Learn more</em></a>

    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">Application requirements</div>
    <div class="rule-block__content">
      <ol class="rule-list">
        <li><span>Bachelor&rsquo;s degree from a regionally accredited college
        or university</span></li>
        <li><span>Official college or university transcripts</span></li>
        <li><span>Completed online application (<em>applications opening
        soon</em>)</span></li>
        <li><span>Two letters of recommendation from instructors or
        practicing professionals</span></li>
        <li><span>Statement of purpose (<em>250&ndash;500 words</em>) and
        résumé</span></li>
        <li><span>Proof of English proficiency (required of applicants whose
        primary language is not English)</span></li>
        <li><span>Personal interview (<em>prospective students living beyond a
        1,000-mile radius of Palo Alto, California may request a Skype
        interview</em>)</span></li>
      </ol>
    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">Stay tuned</div>
    <div class="rule-block__content">
      <a href="#contact" neu-smooth-scroll><em>Sign up</em></a> to be notified
      when applications open.
    </div>
  </div>
{% endblock %}
