{% extends "_base.html" %}

{% block top %}
  <style>body { background-color: #f6f6f6; }</style>
  <hgroup class="page-title">
    <h1>Apply</h1>
    <h2>One-Year Master of Engineering in Big Data Program</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="rule-block rule-block--thick">
    <div class="rule-block__sidebar">
      <ul class="application-menu">
        <li class="is-selected"><a href="">Application instructions</a></li>
        <li><a href="">Student information</a></li>
        <li><a href="">Academic records</a></li>
        <li><a href="">Employment history</a></li>
        <li><a href="">Sign &amp; submit</a></li>
      </ul>
    </div>

    <div class="rule-block__content">
      <p>Once you complete the application online, all supplemental materials
      listed below must be submitted to:</p>
      
      <p>Graduate Admissions Office
      <br>University of New Haven
      <br>300 Boston Post Road
      <br>West Haven, CT 06516</p>

      <hr>

      <ol class="rule-list rule-list--padded">
        <li><span>The application fee for online applications is currently
        waived. If you wish to submit a paper application or mail in your
        completed online application, you must pay a $75 application
        fee.</span></li>

        <li><span>Official transcripts forwarded by all colleges previously
        attended.</span></li>

        <li><span>Students applying to the Graduate School must submit two
        letters of recommendation from professional sources. You may now
        indicate up to three recommenders during the online application process
        for electronic recommendation submission. If you wish to obtain
        original letters of recommendation and not use the electronic system,
        you may do so and mail original copies to the Graduate Admissions
        Office.</span></li>

        <li><span>A brief personal statement (approximately 500 words)
        describing your interest in your intended degree program and why you
        would make a good candidate to the University of New Haven. Please also
        include any information that you feel would be important for the
        admissions committee to be aware of when evaluating your
        application.</span></li>

        <li><span>A resume is strongly recommended for all applicants to the
        Graduate School.</span></li>
      </ol>

      <div class="rule-title rule-title--dark">Need help?</div>

      <p>If you are having difficulty with the online application, please
      contact Marcus Hanscom in the Graduate Admissions Office at 203-932-7277
      or 1-800-342-5864 x7277.</p>

      <hr>

      <button class="button">Go to application</button>

    </div>
  </div>
{% endblock %}
