{% extends "_base.html" %}

{% block top %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item is-selected">Apply</li>
      <li class="subnav__item subnav__item--note">Application deadline: {{ app_deadline }}</li>
    </ol>
  </div>

  <hgroup class="page-title">
    <h1>Prepare for takeoff</h1>
    <h2>One-year Master&rsquo;s in Big Data</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div class="rule-block rule-block--thick">
    <div class="rule-block__title">Is this program for you?</div>

    <div class="rule-block__content">

      <p>As a program intended to investigate the boundaries of big data across
      disciplines, we are interested in candidates who have a diverse set of
      interests.</p>

      <p>Prospective students need to be experienced in web and mobile
      development&mdash;curious and imaginative, experimenting with data on
      their own. They are human-centered practitioners with cross-disciplinary
      backgrounds and interests. Applicants are equal parts abstract thinker
      and craftsperson with at least two to five years of professional
      experience.</p>

    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">Application<br>&amp; degrees</div>

    <div class="rule-block__content">
      <p>XXX image</p>

      <p>While NEU&rsquo;s campus is located in Silicon Valley, California,
      your application will be approved, and your degree granted, by our
      esteemed partner. University of New Haven has nearly a century of
      experience as a leader in experiential education. Together, we are proud
      to lock arms on this great quest to re-engineer engineering
      education.</p>

    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">Application requirements</div>
    <div class="rule-block__content">
      <ol class="rule-list">
        <li><span>Bachelor&rsquo;s degree from a regionally accredited college
        or university</span></li>
        <li><span>Official college or university transcripts</span></li>
        <li><span>Completed online application (<em>applications open in
        October 2013</em>)</span></li>
        <li><span>Three letters of recommendation from instructors or
        practicing professionals</span></li>
        <li><span>Statement of purpose (<em>250&ndash;500 words</em>) and
        résumé</span></li>
        <li><span>Proof of English proficiency (required of applicants whose
        primary language is not English). Nonimmigrant alien applicants are
        required to submit documentation of sufficient financial resources to
        attend NEU</span></li>
        <li><span>Personal interview (<em>prospective students living beyond a
        1,000-mile radius of Palo Alto, California may request a Skype
        interview</em>)</span></li>
      </ol>
    </div>
  </div>

  <div class="rule-block">
    <div class="rule-block__title">Let&rsquo;s do this</div>
    <div class="rule-block__content">
      XXX apply now button
      Have questions? <em><a href="#contact" neu-smooth-scroll>Get in touch</a>.</em>
    </div>
  </div>
{% endblock %}
