{% extends "_base.html" %}

{% block top %}
  <div class="subnav">
    <ol class="subnav__list">
      <li class="subnav__item is-selected">Spring, 2014</li>
      <li class="subnav__item subnav__item--note">Application deadline: January 1, 2014</li>
    </ol>
  </div>

  <hgroup class="page-title page-title--hero">
    <div class="grid">
      <h2>1 Year</h2>
      <h1>Master&rsquo;s in big data</h1>
    </div>
  </hgroup>
{% endblock %}

{% block content %}
  XXX program content
{% endblock %}
